.box {

    background-repeat: no-repeat;
    background-size: contain;

    position: relative;

    &-search {

        &-input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 220px;

            &:focus {
                outline: 2px solid #da2625 !important;
                border-color: transparent;
            }
        }

        &-submit {
            background-color: #da2625 !important;
            border: none;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            color: #fff;
        }
    }
}