.filter {
    padding: 10px;
    background-image: url('../images/bg-select.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;

    @media screen and (max-width: 768px) {
        // background-image: none;
    }

    select {
        min-width: 200px;

        @media screen and (max-width: 768px) {
            min-width: auto;
        }
    }

    .search-submit-btn {
        // padding: 0;
    }

}